@if(visible){
    <h3>@mensaje</h3>
    <button class="btn btn-primary" @onclick="()=>Cerrar(true)">Aceptar</button>
<button class="btn btn-secondary" @onclick="()=>Cerrar(false)">Cancelar</button>
}

@code{
    [Parameter]    
    public string mensaje{get;set;}="";
    private bool visible{set;get;}=false;

   public void Mostrar(){
     visible=true;
     StateHasChanged();
   }

[Parameter]
public EventCallback OnConfirmado{get;set;}


    void Cerrar(bool c){
        visible=false;
        if(c){
        OnConfirmado.InvokeAsync();
}
    }
}